<template>
  <a-card class="ax__template ${ModuleName}${BusinessName}" :body-style="bodyStyle">
    <a-flex vertical class="h-100">
      <!-- 顶部筛选，查询选项 -->
      <HeadVue />
      <!-- 表单数据 -->
      <div class="data__content">
        <TableVue v-if="viewMode === 'table'"></TableVue>
        <CardVue v-else></CardVue>
      </div>
      <!-- 底部分页信息 -->
      <FooterVue></FooterVue>
      <!-- 表单编辑 -->
      <FormVue />
    </a-flex>
  </a-card>
</template>

<script setup lang="ts">
#macro(generateImport $dictType $javaField)
  #if($dictType != "")
    ${javaField}OptionsFetch,
    ${javaField}Options,
  #end
#end
import { bodyStyle } from '@/global/config/gen';
import { ${businessName}List } from './data/curd';
import { reset${BusinessName}Query,viewMode } from './data/table';
import FooterVue from './pages/components/AXFooter.vue';
import FormVue from './pages/components/AXForm.vue';
import HeadVue from './pages/components/AXHead.vue';
import CardVue from './pages/table-card/AXCard.vue';
import TableVue from './pages/table-card/AXTable.vue';
import { ${businessName}ShowForm, ${businessName}ResetForm } from './data/form';
import {
#foreach($column in $columns)
#set($dictType=$column.dictType)
#set($javaField=$column.javaField)
#if($dictType != "")
  ${javaField}OptionsFetch,
#end
#end}from './data/options';

onMounted(async() => {
  await ${businessName}List();
  #foreach($column in $columns)
  #set($dictType=$column.dictType)
  #set($javaField=$column.javaField)
  #if($dictType != "")
  await ${column.javaField}OptionsFetch();
  #end
  #end
});

onUnmounted(() => {
  ${businessName}ShowForm.value = false;
  ${businessName}ResetForm();
  reset${BusinessName}Query()
});
</script>

<style lang="scss" scoped></style>
