#foreach($column in $columns)
#if($column.isPk == "1")
#set($Key=$column.javaField)
#end
#end

import { ${businessName}Columns } from './column';
import { ${businessName}Keys, ${businessName}Table } from './table';
import type {  ${ModuleName}${BusinessName} } from '@/api/modules/${moduleName}/${businessName}/types';

type CardItem = {
  label: string;
  value: any;
};
interface CardData {
  id: number;
  raw?: SystemTest;
  items: CardItem[];
}

/**
 * @description: 拖拽开始，用于设置拖拽前的值
 * @param {CardData} item
 */
export const dragstart = (item: CardData) => {
  // 待完善逻辑
};

/**
 * @description: 拖拽结束
 * @param {CardData} item
 */
export const drop = (item: CardData) => {
  // 待完善逻辑
};

/**
 * @description: 单击选择卡片
 * @param {CardData} item 当前选择的值
 */
export const select${ModuleName}${BusinessName} = (item: CardData) => {
  if (!${businessName}Keys.value.includes(item.id)) {
    ${businessName}Keys.value.push(item.id);
  } else {
    ${businessName}Keys.value = ${businessName}Keys.value.filter(e => e !== item.id);
  }
};

/**
 * @description:
 *  卡片的内容，以ID作为唯一索引
 *  最多展示4项
 *  这段代码不建议修改，有需要则重写
 */
export const ${businessName}CardData = computed(() => {
  let arr: CardData[] = [];
  ${businessName}Table.value.data.map((e: ${ModuleName}${BusinessName} | any, i) => {
    let items: any = [];
    ${businessName}Columns.value.forEach((v: any, k) => {
      const label = v.title;
      const value = e[v.dataIndex as any];
      if (v.dataIndex === 'operation') return;
      if (k < 4) {
           items.push({
             label,
             value,
           });
         }
    });
    arr.push({
      id: e['$Key'],
      items,
      raw: e,
    });
  });
  return arr;
});
