export const ${businessName}ShowForm = ref(false);
import type {  ${ModuleName}${BusinessName} } from '@/api/modules/${moduleName}/${businessName}/types';
import type { Rule } from 'ant-design-vue/es/form/interface';

const form:  ${ModuleName}${BusinessName} = {
#foreach($column in $columns)
    $column.javaField:#if($column.javaType == "String") "" #elseif($column.javaType == "Integer") 0 #elseif($column.javaType == "Long") 0 #elseif($column.javaType == "Double") 0.0 #elseif($column.javaType == "Boolean") false #else null #end,
#end
};

// 当前选中的一项，用于删除，编辑
export const ${businessName}Form = ref<${ModuleName}${BusinessName}>({
  ...form,
});

// 重置表格
export const ${businessName}ResetForm = () => {
  ${businessName}Form.value = {
    ...form,
  };
};

// 表格校验
export const ${businessName}Rules: Record<string, Rule[]> = {
#foreach($column in $columns)
#set($javaField=$column.javaField)
#if($column.isInsert=="1")
  $javaField: [{ required:#if($column.required) true#else false #end, trigger: 'change' }],
#end
#end
};
