.apps {
	background: white;
	$app-width: 74px;
	height: calc(100vh - 48px * 2);
	background: url("../assets/background.png");
	background: url("../assets/taylor.webp");
	background-size: cover;
	background-position: center;

	ul {
		display: grid;
		grid-template-columns: repeat(2, $app-width);
		grid-template-rows: repeat(auto-fit, 1fr);
		gap: 10px;
		height: 100%;
	}
	%selected {
		border: 1px solid #8db1e4;
		background: #8db1e423;
	}
	li {
		height: fit-content;
		width: $app-width;
		border: 1px solid transparent;
		text-align: center;
		padding: 4px 0;
		cursor: pointer;
		user-select: none;
		border-radius: 2px;

		&:hover {
			@extend %selected;
		}
		.logo {
			padding: 2px 0;
			width: 100%;
			height: 42px;
			img {
				width: 32px;
				height: 32px;
			}
		}
		.title {
			line-height: 16px;
			color: rgb(250, 250, 250);
			overflow: hidden;
			text-shadow: 0 0 2px #494949;
			mix-blend-mode: difference;
		}
	}
	li.selected {
		@extend %selected;
	}
}
