.menu-body {
	color: white;
	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 84px;
			padding: 8px 0;
			user-select: none;
			flex: 1;
			flex-basis: 84px;
			border-radius: var(--radius);
			&:hover {
				background: #333;
			}
			cursor: pointer;
			img {
				border-radius: var(--radius);
			}
		}
	}
	.title {
		line-height: 42px;
		padding: 0 12px;
		border-bottom: 1px solid #999;
	}
}
