<template>
  <a-form :model="${businessName}Form"  @finish="submit"    :wrapper-col="{ span: 8, offset: 1 }"
    :label-col="{ span: 4, offset: 4 }">
    <SystemModal title="Untitled" v-model:visible="${businessName}ShowForm">
      <div class="h-100 flex flex-col">
           <a-row>
             <a-col :span="8" :offset="9">
                <h2>新增/编辑</h2>
                <a-divider></a-divider>
            </a-col>
        </a-row>
        <div class="flex-1 p-8">
     #foreach($column in $columns)
         #set($comment=$column.columnComment)
         #if($column.htmlType == "input")
           <a-form-item label="${comment}">
             <a-input v-model:value="${businessName}Form.${column.javaField}"></a-input>
           </a-form-item>
         #elseif($column.htmlType == "textarea")
           <a-form-item label="${comment}">
             <a-textarea v-model:value="${businessName}Form.${column.javaField}"></a-textarea>
           </a-form-item>
         #elseif($column.htmlType == "select")
           <a-form-item label="${comment}">
             <a-select v-model:value="${businessName}Form.${column.javaField}">
               <!-- Options here -->
             </a-select>
           </a-form-item>
         #elseif($column.htmlType == "radio")
           <a-form-item label="${comment}">
             <a-radio-group v-model:value="${businessName}Form.${column.javaField}">
               <!-- Radio options here -->
             </a-radio-group>
           </a-form-item>
         #elseif($column.htmlType == "checkbox")
           <a-form-item label="${comment}">
             <a-checkbox-group v-model:value="${businessName}Form.${column.javaField}">
               <!-- Checkbox options here -->
             </a-checkbox-group>
           </a-form-item>
         #elseif($column.htmlType == "datetime")
           <a-form-item label="${comment}">
             <a-date-picker v-model:value="${businessName}Form.${column.javaField}" class="w-100"></a-date-picker>
           </a-form-item>
         #elseif($column.htmlType == "imageUpload")
           <a-form-item label="${comment}">
             <a-image-upload v-model:value="${businessName}Form.${column.javaField}"></a-image-upload>
           </a-form-item>
         #elseif($column.htmlType == "fileUpload")
           <a-form-item label="${comment}">
             <a-file-upload v-model:value="${businessName}Form.${column.javaField}"></a-file-upload>
           </a-form-item>
         #elseif($column.htmlType == "editor")
           <a-form-item label="${comment}">
             <a-textarea v-model:value="${businessName}Form.${column.javaField}"></a-editor>
           </a-form-item>
         #end
         #end
        </div>
        <FormFooter></FormFooter>
      </div>
    </SystemModal>
  </a-form>
</template>

<script setup lang="ts">
import SystemModal from '@/components/modal/SysModal.vue';
import { ${businessName}Form, ${businessName}ShowForm, } from '../data/form';
import { response } from '@/utils/table/table';
import {  ${businessName}List } from '../data/curd';
import { create${BusinessName}, update${BusinessName} } from  '@/api/modules/${moduleName}/${businessName}/${businessName}';

const submit = async () => {
  if (${businessName}Form.value.$pkColumn) {
    await response(update${BusinessName}, ${businessName}Form.value);
  } else {
    await response(create${BusinessName}, ${businessName}Form.value);
  }
  await  ${businessName}List();
  ${businessName}ShowForm.value = false;
};
</script>

<style lang="scss" scoped></style>
