.star {
	width: 28px;
	height: 28px;
}
:deep(.ant-list-item) {
	padding: 0px;
}
:deep(.ant-card) {
	box-shadow: none;
}
ul.list {
	gap: 8px;
	justify-content: space-between;
	display: grid;
	grid-template-columns: repeat(auto-fit, 42px);
	li {
		height: 42px;
		width: 42px;
		border: 1px solid transparent;
		border-radius: var(--radius);
		img {
			border-radius: var(--radius);
		}
	}
	li.active {
		border: 1px solid var(--primary);
	}
}
