<template>
  <a-card class="table__head">
    <template #title>
      <h3 class="text-14">网页收藏</h3>
    </template>
    <a-flex justify="space-between" :align="'center'">
        <a-flex justify="space-between" :align="'center'">
        <a-flex :align="'center'" :gap="4">

         <div v-perm="'${moduleName}:${businessName}:add'">
             <a-tooltip title="新建">
                <a-button type="primary" @click="${businessName}Create">
                  <PlusOutlined />
                </a-button>
            </a-tooltip>
         </div>

         <div v-perm="'${moduleName}:${businessName}:edit'">
              <a-tooltip title="编辑">
                <a-button type="link" @click="${businessName}Edit()" :disabled="${businessName}Keys.length !== 1">
                  <EditOutlined />
                </a-button>
              </a-tooltip>
          </div>

          <a-tooltip title="刷新">
            <a-button type="link" @click="${businessName}List">
              <ReloadOutlined />
            </a-button>
          </a-tooltip>

          <a-divider type="vertical" />
          <a-input-search allow-clear @search="${businessName}List"></a-input-search>
         </a-flex>
         
        </a-flex>
       <a-flex>

       <div v-perm="'${moduleName}:${businessName}:delete'">
        <a-popconfirm
          title="确定要删除吗"
          :disabled="${businessName}Keys.length === 0"
          placement="bottomRight"
          @confirm="${businessName}Delete()"
        >
          <a-tooltip title="批量删除">
            <a-button danger type="link" :disabled="${businessName}Keys.length === 0">
              <DeleteOutlined />
            </a-button>
          </a-tooltip>
        </a-popconfirm>
        </div>

        <FieldVue :columns="${businessName}Columns" :module-name="${businessName}Table.moduleName" />
        <div>
          <a-tooltip title="卡片模式" @click="viewMode = 'card'" v-if="viewMode === 'table'">
            <a-button type="link">
              <OrderedListOutlined />
            </a-button>
          </a-tooltip>

          <a-tooltip title="表格模式" @click="viewMode = 'table'" v-else>
            <a-button type="link">
              <AppstoreAddOutlined />
            </a-button>
          </a-tooltip>
        </div>
       </a-flex>
    </a-flex>
  </a-card>
</template>

<script setup lang="ts">
import FieldVue from '@/views/components/table/Field.vue';
import {
  AppstoreAddOutlined,
  OrderedListOutlined,
  type DeleteOutlined,
  type ReloadOutlined,
} from '@ant-design/icons-vue';
import { ${businessName}Columns } from '../../data/column';
import { ${businessName}Create, ${businessName}Delete, ${businessName}Edit, ${businessName}List } from '../../data/curd';
import { viewMode, ${businessName}Keys, ${businessName}Table } from '../../data/table';
</script>

<style lang="scss" scoped></style>
