.server-list {
	ul {
		gap: 8px;
	}
	li {
		border: 1px solid #ddd;
		border-radius: var(--radius);
		padding: 8px 0;
		cursor: pointer;
		flex: 1;
		min-width: 120px;
		max-width: 140px;
	}
	.url {
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		padding: 0 8px;
		text-overflow: ellipsis;
	}
}
.create {
	border: 1px dashed #ddd;
	color: #666;
	&:hover {
		color: #333;
	}
}
.selected {
	color: green;
	font-size: 12px;
}
.breathing-light {
	animation: breathe 1s ease-in-out infinite alternate;
	border: 1px solid transparent;
	box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
}

@keyframes breathe {
	0% {
		border-color: #ddd;
	}
	100% {
		border-color: green;
	}
}
