[style*="background"] {
	background-size: cover !important;
	background-position: center;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
}
.subtitle {
}
.system-subtitle {
	font-size: 12px;
	color: #999;
}
