.system__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 42px;
	border-bottom: 1px solid #ddd;
}
/* 系统模块，当时用窗口时，使用该通用css */

.system__module {
	border-radius: 0 !important;
	height: 100%;
	position: relative;
	overflow: auto;
}

%icon {
	height: 32px;
	padding: 0 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	font-size: 16px;
	border-radius: var(--radius);
}

.system-icon {
	@extend %icon;
	color: #333;
	&:hover {
		background: white;
		color: #111;
	}
}

.system-icon-dark {
	@extend %icon;
	color: #fff;
	&:hover {
		color: white;
		background: #77777791;
	}
}

.system-close {
	&:hover {
		background-color: #fc3333;
		color: white;
	}
}
