.system__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 42px;
	border-bottom: 1px solid #ddd;
}
/* 系统模块，当时用窗口时，使用该通用css */

.system__module {
	border-radius: 0 !important;
	height: 100%;
	position: relative;
	overflow: auto;
}
/* 系统通用图标 */
.system__icon {
	height: 32px;
	padding: 0 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	font-size: 16px;
	border-radius: var(--radius);

	&:hover {
		background: var(--color-primary-hover-bg);
		svg {
			animation: system-icon var(--transition) ease-in-out;
		}
	}
}

.system__subtitle {
	font-size: 12px;
	color: #999;
}

@keyframes system-icon {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}
