%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* 代码下载模板 */
.ax__template {
	height: 100%;
	overflow: hidden;
	.data__content {
		flex: 1;
		overflow-y: auto;
		margin-top: 8px;
	}
	/* 避免出现滚动条 */
	&::-webkit-scrollbar {
		display: none;
	}

	$width: 200px;
	.table_card_list {
		display: grid;
		gap: 8px;
		overflow-y: auto;
		overflow-x: hidden;
		place-content: start;
		flex: 1;
		grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
		div.active {
			$wh: 20px;
			position: absolute;
			right: 4px;
			top: 4px;
			z-index: 10;
			background: var(--primary);
			color: white;
			width: $wh;
			height: $wh;
			line-height: $wh;
			text-align: center;
			border-radius: 50%;
		}
	}
}

.ax_sticky_top {
	position: sticky;
	top: 0;
	z-index: 10;
}
.ax_plain_card {
	border-radius: 0 !important;
	box-shadow: none !important;
}
