%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* 代码下载模板 */
.system__template {
	@extend %system-module;
	display: flex;
	flex-direction: column;
	border-radius: 0;
	/* 避免出现滚动条 */
	&::-webkit-scrollbar {
		display: none;
	}
	.data__content {
		flex: 1;
		overflow-y: auto;
		margin-top: 8px;
	}
	.form__content {
		height: 100%;
		border-radius: 0;
	}
	.table__head {
		border-radius: 0 !important;
	}
	.card__footer {
		box-shadow: 0 0 1px transparent !important;
		border-radius: 0;
	}
	$width: 180px;
	.table_card_list {
		display: grid;
		padding: 8px 0;
		flex-wrap: wrap;
		flex: 1;
		height: 100%;
		gap: 8px;
		overflow-y: auto;
		overflow-x: hidden;
		place-content: start;
		grid-template-columns: repeat(auto-fit, minmax($width, 0.3fr));
		flex: 1;
		li {
			height: fit-content;
			flex: 1;
			width: $width;
			min-width: $width;
			max-width: $width;
		}
		div.active {
			$wh: 20px;
			position: absolute;
			right: -4px;
			top: -4px;
			z-index: 10;
			background: var(--primary);
			color: white;
			width: $wh;
			height: $wh;
			line-height: $wh;
			text-align: center;
			border-radius: 50%;
		}
	}
}
