%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* 代码下载模板 */
.system__template {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0;

	/* 避免出现滚动条 */
	&::-webkit-scrollbar {
		display: none;
	}
	.data__content {
		flex: 1;
		overflow-y: auto;
		margin-top: 8px;
	}

	$width: 200px;
	.table_card_list {
		display: grid;
		gap: 8px;
		overflow-y: auto;
		overflow-x: hidden;
		place-content: start;
		grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
		flex: 1;
		div.active {
			$wh: 20px;
			position: absolute;
			right: 4px;
			top: 4px;
			z-index: 10;
			background: var(--primary);
			color: white;
			width: $wh;
			height: $wh;
			line-height: $wh;
			text-align: center;
			border-radius: 50%;
		}
	}
}
.card__footer {
	box-shadow: 0 0 1px transparent !important;
	border-radius: 0;
	:deep(.ant-card-body) {
		padding: 4px 12px !important;
	}
}
.table__head {
	position: sticky;
	top: 0;
	z-index: 10;
}
.card__container {
	border-radius: 0 !important;
	box-shadow: none !important;
	&:deep(.ant-card-body) {
		height: 100%;
	}
}
.table__card {
	box-shadow: none !important;
}
