.frame {
	border: 16px solid #000;
	height: fit-content;
	border-radius: 22px;
	padding: 12px;
}
.carousel {
	.carousel-item {
		text-align: center;
		border-radius: 8px;
		overflow: hidden;
	}
	img {
		width: 100%;
		object-fit: cover;
		height: 100%;
		border-radius: 12px;
	}
}
.welcome {
	flex-basis: 70%;
	background: #f8f8f8;
	border-right: 1px solid #ddd;
	padding: 36px;
	position: relative;
	height: 100vh;
	overflow-y: auto;
	width: 70%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.title {
		background-image: var(--linear-gradient);
		-webkit-background-clip: text;
		color: transparent;
		font-size: 48px;
		text-align: center;
	}
	.desc {
		margin: 12px 0;
		color: #ddd;
		font-size: 20px;
		line-height: 28px;
		vertical-align: middle;
		text-align: center;
	}
}
