<template>
  <div>
    <TableHeadVue />
    <SystemTable
      :columns="${businessName}Columns"
      :table="${businessName}Table"
      v-model:query="${businessName}Query"
      v-model:selected-keys="${businessName}Keys"
      v-model:form="${businessName}Form"
    >
      <template v-slot="{ value }">
        <template v-if="value.column.dataIndex === 'operation'">
          <Operation  @edit="${businessName}Edit" :items="${businessName}OperationList" />
        </template>
      </template>
    </SystemTable>
  </div>
</template>

<script setup lang="ts">
import SystemTable from '@/views/components/table/SystemTable.vue';
import TableHeadVue from './table-head/head.vue';

import Operation from '@/views/components/table/Operation.vue';
import { ${businessName}Columns } from '../data/column';
import { ${businessName}Edit, ${businessName}List } from '../data/curd';
import { ${businessName}Form } from '../data/form';
import { ${businessName}Keys, ${businessName}OperationList, ${businessName}Query, ${businessName}Table } from '../data/table';

onMounted(() => {
  ${businessName}List();
});
</script>

<style lang="scss" scoped></style>
