<template>
  <SystemTable
    :columns="${businessName}Columns"
    :table="${businessName}Table"
    v-model:query="${businessName}Query"
    v-model:selected-keys="${businessName}Keys"
    v-model:form="${businessName}Form"
    @dblclick="onDblclick"
  >
    <template v-slot="{ value }">
      <template v-if="value.column.dataIndex === 'operation'">
        <Operation
          :loading="${businessName}Table.loading"
          @open-change="openChange(value.record as ${ModuleName}${BusinessName})"
          #foreach($column in $columns)
          #if($column.isPk == "1")
          @edit="${businessName}Edit(value.record.$column.javaField)"
          #end
          #end
          :items="${businessName}OperationList"
        />
      </template>
    </template>
  </SystemTable>
</template>

<script setup lang="ts">
import type {  ${ModuleName}${BusinessName} } from '@/api/modules/${moduleName}/${businessName}/types';
import Operation from '@/views/components/table/Operation.vue';
import SystemTable from '@/views/components/table/SystemTable.vue';
import { ${businessName}Columns } from '../../data/column';
import { ${businessName}Edit } from '../../data/curd';
import { ${businessName}Form } from '../../data/form';

import { ${businessName}Keys, 
    ${businessName}OperationList, 
    ${businessName}Query, 
    ${businessName}Table 
} from '../../data/table';

const openChange = (record: ${ModuleName}${BusinessName}) => {
  ${businessName}Form.value = record;
};

const onDblclick = (id: number) => {
  ${businessName}Edit(id);
};
</script>

<style lang="scss" scoped></style>
