<template>
  <a-card :style="{ boxShadow: 'none' }">
    <a-table
      @change="pageChange"
      table-layout="fixed"
      sticky
      :row-selection="{
        selectedRowKeys: ${businessName}Keys,
        onChange: (k: any[]) => (${businessName}Keys = k),
      }"
      :pagination="false"
      :customRow="customRow"
      :rowKey="${businessName}Table.rowKey"
      :columns="formatColumns(${businessName}Columns)"
      :data-source="${businessName}Table.data"
    >
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'operation'">
          <Operation
            :loading="${businessName}Table.loading"
            @open-change="openChange(record as any)"
            @edit="${businessName}Edit(record.configId)"
            :items="${businessName}OperationList"
          />
        </template>
      </template>
    </a-table>
  </a-card>
</template>

<script setup lang="ts">
import type { ${ModuleName}Menu } from '@/api/modules/${ModuleName}/menu/types';
import type { ${ModuleName}${businessName} } from '@/api/modules/${ModuleName}/${businessName}/types';
import { formatColumns } from '@/utils/table/table';
import Operation from '@/views/components/table/Operation.vue';
import type { TablePaginationConfig } from 'ant-design-vue';
import type { FilterValue, SorterResult } from 'ant-design-vue/es/table/interface';
import { ${businessName}Columns } from '../../data/column';
import { ${businessName}Edit } from '../../data/curd';
import { ${businessName}Form } from '../../data/form';
import { ${businessName}Keys, ${businessName}OperationList, ${businessName}Query, ${businessName}Table } from '../../data/table';

const openChange = (record: ${ModuleName}${businessName}) => {
  ${businessName}Form.value = record;
};

/* 行事件 */
const customRow = (record: ${ModuleName}${businessName}) => {
  return {
    onClick() {
     #foreach($column in $columns)
     #if($column.isPk == "1")
     ${businessName}Keys.value = [record.record.$column.javaField];
     #end
     #end

    },
    onDblclick() {
      #foreach($column in $columns)
      #if($column.isPk == "1")
      ${businessName}Edit(record.$column.javaField);
      #end
      #end
    },
  };
};

/* 分页事件触发 */
const pageChange = (
  pagination: TablePaginationConfig,
  filters: Record<string, FilterValue>,
  sorter: SorterResult<${ModuleName}${BusinessName}> | SorterResult<${ModuleName}${BusinessName}>[],
) => {
  ${businessName}Query.value.pageNum = pagination.current!;
  ${businessName}Query.value.pageSize = pagination.pageSize!;
};
</script>

<style lang="scss" scoped></style>
