.folder {
	background: white;
	ul {
		display: flex;
		gap: 28px;
	}
	li {
		min-width: 240px;
		flex: 1;
		img {
			width: 42px;
		}
		max-width: 280px;
	}
	.title {
		border-bottom: 1px solid #ddd;
		height: 54px;
		padding-bottom: 8px;
	}
	.folder-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		background: white;
	}
}
.info {
	height: 58px;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.open {
	border: 1px solid var(--primary);
	color: var(--primary);
	&:hover {
		background-color: var(--primary);
		color: white;
	}
}
