.folder {
	background-color: #f0f2f5;
	ul {
		display: flex;
		gap: 12px;
	}
	li {
		text-align: center;
		cursor: pointer;
		width: 74px;
		height: 74px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border: 1px solid transparent;
		user-select: none !important;
		border-radius: var(--radius);
		overflow: hidden;
		background-color: white;
		color: #575757;
		&:hover {
			background: #f5f7fa;
			color: black;
		}
		.title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	li.active {
		border: 1px solid var(--primary);
		background: white;
		color: black;
	}
	.folder-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		background: #f8f8f8;
	}
}
