/* Text color */
.text-danger {
	color: #ff5151;
}

.linear-gradient-background {
	background: rgb(34, 33, 54);
	background: linear-gradient(90deg, rgba(34, 33, 54, 1) 0%, rgba(7, 7, 68, 1) 41%, rgba(0, 114, 138, 1) 100%);
}
