.sys-p {
	padding: var(--padding);
}
.sys-pl {
	padding-left: var(--padding);
}
.sys-pr {
	padding-right: var(--padding);
}
.sys-pt {
	padding-top: var(--padding);
}
.sys-pb {
	padding-bottom: var(--padding);
}
