:root {
  /* 颜色相关 */
  --green: #57cc99;
  --pink: #ffafcc;
  --blue: #00b4d8;
  --dark: #00131d;
  --purple: #c8b6ff;
  --orange: #fdffb6;
  --gray: #f5f2f3;
  --white: #fefbfc;

  /* 主题样式 */
  --primary: #64cbff;
  --secondary: #ece9ea;

  --radius: 4px;
  --box-shadow: 0 0 5px #575757a1;

  /* 间距 */
  --padding: 8px;
  --margin: 8px;

  /* 动画效果 */
  --animate-duration: 0.2s;

  /* 文本 */
  --title: 14px;
  --subtitle: 12px;
  --desc: 12px;
  --font-size: 12px;
}
