:root {
  /* 颜色相关 */
  --green: #57cc99;
  --pink: #ffafcc;
  --blue: #00b4d8;
  --dark: #00131d;
  --purple: #c8b6ff;
  --orange: #fdffb6;
  --gray: #f5f2f3;
  --white: #fefbfc;

  /* 主题样式 */
  --primary: #64cbff;
  --secondary: #ece9ea;
  --animate-duration: 0.2s;
  --radius: 4px;
  --box-shadow: 0 0 5px #575757a1;
}
