.form {
	padding: 8px 16px;
	min-width: 400px;
	height: 100%;
}

.mode-item {
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
	width: 80px;
	text-align: center;
}
.item-active {
	line-height: 24px;
	color: var(--primary);
	border-bottom: 4px solid var(--primary);
	cursor: pointer;
	padding-bottom: 8px;
	font-size: 16px;
}
.card__content {
	height: 100%;
	overflow-y: auto;
	box-shadow: none;
}
