.form {
	padding: 8px 16px;
	min-width: 400px;
	overflow-y: auto;
	height: 100%;
	.form-container {
		height: 100%;
		width: 100%;
		overflow-y: auto;
	}
	h4 {
		font-size: 16px;
		line-height: 24px;
		cursor: pointer;
	}
	h1 {
		line-height: 24px;
		color: var(--primary);
		border-bottom: 4px solid var(--primary);
		cursor: pointer;
		padding-bottom: 8px;
		font-size: 20px;
	}
}
.card__content {
	height: 100%;
	overflow-y: auto;
	box-shadow: none;
}
