.form {
	padding: 24px;
	min-width: 400px;
	width: 30%;
	overflow-y: auto;
	height: 100%;
	.form-container {
		height: 100%;
		width: 100%;
		overflow-y: auto;
	}
	h4 {
		font-size: 16px;
		line-height: 44px;
		cursor: pointer;
	}
	h1 {
		line-height: 44px;
		color: var(--primary);
		border-bottom: 4px solid var(--primary);
		cursor: pointer;
	}
}
.card__content {
	height: 100vh;
	overflow-y: auto;
}
