.server-memory {
	background: url("../assets/memory.webp");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	.cpu-info {
		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 200px;
		border: 1px solid #fff;
		color: white;
		background: rgba(255, 255, 255, 0.096);
		.title {
			border-bottom: 1px solid #ddd;
			line-height: 42px;
		}
		ul {
			padding: 12px 0;
		}
		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 12px;
		}
	}
}
