.role-card {
	flex: 1;
	border-right: 1px solid #ddd;
	height: 100%;
	background: white;
	$wh: 144px;
	ul {
		padding: 8px;
		display: grid;
		gap: 8px;
		grid-template-columns:
			minmax($wh, max-content)
			repeat(auto-fill, $wh);
	}
	.card-list {
		li {
			border: 1px solid transparent;
			cursor: pointer;
			background: #f8f8f8;
			padding: 8px;
			border-radius: var(--radius);
			width: 100%;
			&:hover {
				background: #eee;
				color: #333;
			}
		}
		.desc {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 80px;
			color: #999;
		}
	}
}
li.active {
	border: 1px solid var(--primary) !important;
	color: #111 !important;
}
